* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

a, a:visited {
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:#C6B166;
    transition-property: color;
    transition-duration: 3s;
}

ul {
    list-style: none;
}

h1, h2 {
    font-family: 'Raleway';
    font-weight: 400;
}
h1 {
    font-size:56px;
}

h2 { 
    font-size:45px;
}

h3 {
    font-size:24px;
}

p, a {
    font-family: 'Open Sans';
    font-weight: 400;
}

button {
    background: none;
    border: 2px solid #D3BE73;
    cursor: pointer;
    font-family:'Raleway';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

button:hover {
   background-color: #C6B166;
}

/*--------NAVIGATION---------------------------------------------*/

.nav_container {
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
    margin: 2% 0%;
}

.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.nav_menu {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
.menu_link {
    display: flex;
    width: max-content;
}
.dropdown_menu {
    display: flex;
}

.hamburger_dropdown {
    display: none;
}
.nav_callback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 20%;
}
.callback_number:hover {
    color:#C6B166;
    transition-property: color;
    transition-duration: 3s;
}
.callback_text {
    color:#C6B166;
}
.callback_text:hover {
    border-bottom: 1px solid #C6B166;
    transition-property: border;
    transition-duration: 3s;
}

@media screen and (max-width: 767px) {
    .hamburger_dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-size: 16px;
        border: none;
    }


   .nav_container {
    display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
   }
   
    .nav_menu {
        display:none;
        
    }
     

    .dropdown {
        position:relative;
        right: 0%;
        display: block;
        align-self: flex-end;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        right: 0;
        background-color:#F9F9F9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width:200px;
        padding: 5%;
       
    }

    .dropdown_content a {
        color: black;
        text-decoration: none;
        display: flex;
        justify-content: center;
    
    }

    .dropdown_content a:hover {
        background-color: #ddd
    }


    .show {
        display:flex;
    }

    .nav_callback {
        display: none;
    }
}

